@page "/users"
@using Otus.SocialNetwork.Web.API
@using Otus.SocialNetwork.Web.API.Models
@using Otus.SocialNetwork.Web.Extensions
@using Otus.SocialNetwork.Web.States
@implements IDisposable
@inject ISocialNetworkAdapter _api
@inject IAuthenticationState _authentication

<PageTitle>Пользователи</PageTitle>

<h1>Пользователи</h1>

@if (_usersResponse is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container">
        @foreach (var users in _usersResponse.Users.GroupBy(3))
        {
            <div class="row users-row">
                @foreach (var user in users)
                {
                    <div class="col">
                        <UserCard
                            User="@user"
                            OnFriendClick="@(() => BeFriends(user))"
                            OnUnfriendClick="@(() => StopBeingFriends(user))"/>
                    </div>
                }
            </div>
        }
    </div>
}

@code {
    private readonly CancellationTokenSource _cts = new();

    private GetUsers.Response? _usersResponse;

    protected override async Task OnInitializedAsync()
    {
        if (await _authentication.RedirectIfNotAuthorized(_cts.Token))
        {
            return;
        }

        _usersResponse = await _api.GetUsersAsync(new(), _cts.Token);
    }

    private async Task BeFriends(GetUsers.UserDto user)
    {
        await _api.BeFriendsAsync(user.Username, _cts.Token);
        _usersResponse = await _api.GetUsersAsync(new(), _cts.Token);
    }

    private async Task StopBeingFriends(GetUsers.UserDto user)
    {
        await _api.StopBeingFriendsAsync(user.Username, _cts.Token);
        _usersResponse = await _api.GetUsersAsync(new(), _cts.Token);
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

}